@namespace h "http://www.w3.org/1999/xhtml";
.author {
    display: block;
    font-family: "helveticaNeueLT Std Cn";
    font-size: 1.29167em;
    font-weight: lighter;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.blockquote {
    display: block;
    margin-bottom: 1em;
    margin-left: 1.5em;
    margin-right: 2em;
    margin-top: 1em;
    text-align: justify
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    font-style: italic
    }
.calibre10 {
    display: block
    }
.calibre11 {
    line-height: 1.2
    }
.calibre12 {
    display: block;
    line-height: 1.2
    }
.calibre13 {
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em
    }
.calibre14 {
    height: auto;
    width: 139px
    }
.calibre15 {
    height: auto;
    line-height: 1.2;
    width: 136px
    }
.calibre2 {
    display: block
    }
.calibre3 {
    height: 1px;
    width: 191px
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    height: 1px;
    width: 15px
    }
.calibre6 {
    height: 59px;
    width: 113px
    }
.calibre7 {
    height: 800px;
    width: 538px
    }
.calibre8 {
    height: 1px;
    width: 111px
    }
.calibre9 {
    color: blue;
    cursor: pointer;
    text-decoration: underline
    }
.caption {
    display: block;
    font-size: 0.75em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center
    }
.center {
    display: block;
    font-family: "Minion Pro Cond";
    font-size: 1.29167em;
    font-weight: lighter;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4em;
    text-align: center
    }
.center1 {
    display: block;
    font-size: 1em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: -0.5em;
    text-align: center
    }
.center2 {
    display: block;
    font-size: 1em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: center;
    text-decoration: underline
    }
.chapter {
    display: block;
    font-family: "helveticaNeueLT Std Cn";
    font-size: 1.29167em;
    font-weight: lighter;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4em;
    text-align: left
    }
.copy {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 1em
    }
.copyright {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.halftitle {
    display: block;
    font-weight: lighter;
    margin-bottom: 5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 9em;
    text-align: right
    }
.image {
    display: block;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: center
    }
.indent-para {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 1.5em
    }
.linespace {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em
    }
.linespace1 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.para {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.para1 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.smallcaps {
    font-size: 0.75em
    }
.toc {
    display: block;
    font-family: "helveticaNeueLT Std Cn";
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-decoration: underline;
    text-indent: 0
    }